@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all .2s linear;
    transition: width none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    overflow-x: hidden;
    background-color: #ebebeb;
}





.logo{
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: -1px;
    white-space: nowrap;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .8;
}
.logo span{
    font-weight: normal;
}




.mainpage{
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.navbar{
    padding: 2rem 9%;
    text-align: center;
    z-index: 1000;
}


.navbar > ul{
    display: flex;
    justify-content: center;
}
.navbar > ul > li{
    display: inline-block;
    margin: 0 1.2rem;
    font-size: 1.8rem;
}
.navbar > ul > li > a{
    color: rgba(0, 0, 0, .4);
}
.navbar > ul > li > a:hover{
    color: rgba(0, 0, 0, .7);
}


.navbar > ul > li > ul{
    display: flex;
    position: absolute;
    left: 50%;
    top: 5.5%;
    transform: translateX(-50%);
}
.navbar > ul > li > ul > li{
    display: inline-block;
    margin: .5rem 1rem;
}
.navbar > ul > li > ul > li a{
    color: rgba(0, 0, 0, .4);
}
.navbar > ul > li > ul > li a:hover{
    color: rgba(0, 0, 0, .7);
}



.navbar > ul > li > ul.works-nav{
    display: none;
}
.navbar > ul > li > ul.works-nav.active{
    display: block;
    color: rgba(0, 0, 0, .7);
}
.navbar > ul > li > ul.works-nav.active > a{
    color: rgba(0, 0, 0, .7);    
}
.navbar > ul > li > ul.info-nav{
    display: none;
}
.navbar > ul > li > ul.info-nav.active{
    display: block;
}
.navbar > ul > li > ul.info-nav.active > a{
    color: rgba(0, 0, 0, .7);    
}






.design_photo{
    display: none;
}
.design_photo.active{
    display: block;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ebebeb;
}
.design_photo > span{
    font-size: 3rem;
    position: absolute;
    right: 4%;
    top: 2%;
    animation: btnscale 7s linear infinite;
    cursor: pointer;
}
.design_photo .design_photo_row{
    display: flex;
}
.design_photo .design_photo_row .box{
    flex: 1;
    height: 160px;
    margin: 10px;
}
.design_photo .design_photo_row .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
/* .design_photo .design_photo_row .box_01{flex: 1;}
.design_photo .design_photo_row .box_02{flex: 1;}
.design_photo .design_photo_row .box_03{flex: 2;}
.design_photo .design_photo_row .box_04{flex: 1;}
.design_photo .design_photo_row .box_05{flex: 2;}
.design_photo .design_photo_row .box_06{flex: 2;}
.design_photo .design_photo_row .box_07{flex: 1;}
.design_photo .design_photo_row .box_08{flex: 3;}
.design_photo .design_photo_row .box_09{flex: 1;}
.design_photo .design_photo_row .box_10{flex: 1;}
.design_photo .design_photo_row .box_11{flex: 1;}
.design_photo .design_photo_row .box_12{flex: 1;}
.design_photo .design_photo_row .box_13{flex: 1;}
.design_photo .design_photo_row .box_14{flex: 1;}
.design_photo .design_photo_row .box_15{flex: 1;}
.design_photo .design_photo_row .box_16{flex: 1;} */





.design_full_page{
    position: absolute;
    left: 0; right: 0;
    top: 0;
}
.design_full_page.active{
    width: 100%;
    height: 100%;
}
.design_full{
    display: none;
    width: 100%;
    height: 100%;
    padding: 4% 10%;
    text-align: center;
    background-color: rgba(235, 235, 235, .9);
}
.design_full.active{
    display: block;
}
.design_full img{
    width: 90%;
    margin-bottom: 5rem;
    object-fit: cover;
}
.design_full span{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    position: fixed;
    right: 8%;
    top: 2%;
    cursor: pointer;
    z-index: 99;
}






.about_wrap{
    display: none;
    width: 100%;
    height: 100vh;
    padding: 5% 20% 7%;
    background: #ebebeb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about_wrap.active{
    display: block;
}


.about_wrap .about_text p.introduce{
    padding: 0 2% 10px;
    line-height: 50px;
    font-family: 'Playfair Display', serif;;
    font-size: 30px;
    font-weight: lighter;
}
.about_wrap .about_text p.introduce span{
    padding-right: 8px;
    font-size: 16px;
}
.about_wrap .about_text p{
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    padding-bottom: 30px;
}
.about_wrap .about_text .about_image{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}
.about_wrap .about_text .about_image img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    opacity: .7;
}
.about_wrap > span{
    font-size: 3rem;
    position: absolute;
    right: 10%;
    top: 3%;
    animation: btnscale 10s linear infinite;
    cursor: pointer;
}
@keyframes btnscale{
    0%{
        transform: scale(1);
    }
    15%{
        transform: scale(1.4);
    }
    30%{
        transform: scale(1);
    }
    45%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(0deg);
    }
    75%{
        transform: scale(1);
    }
    90%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}











.faq_container{
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ebebeb;
}
.faq_container.active{
    display: block;
}
.faq_container .faq_wrap{
    padding: 2rem 20%;
    text-align: center;
}
.faq_container .faq_wrap h3{
    font-size: 2rem;
    margin-bottom: 20px;
}
.faq_container .faq_wrap > span{
    font-size: 3rem;
    position: absolute;
    right: 20%;
    top: 5%;
    animation: btnscale 7s linear infinite;
    cursor: pointer;
}

.faq_container .faq_wrap .faq{
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.faq_container .faq_wrap .faq .question{
    font-size: 1.7rem;
    cursor: pointer;
}
.faq_container .faq_wrap .faq .answer{
    display: none;
    height: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.7rem;
}
.faq_container .faq_wrap .faq .answer.active{
    display: block;
    height: auto;
}
.faq_container .faq_wrap .faq .answer p{
    margin-top: 30px;
    margin-bottom: 10px;
}







.contact_container{
    display: none;
    width: 100%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contact_container.active{
    display: block;
}
.contact_container .contact_wrap{
    padding: 2rem 20%;
}
.contact_container .contact_wrap > div{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    text-align: left;
}
.contact_container .contact_wrap > div > div.title{
    text-align: center;
}
.contact_container .contact_wrap > div > div{
    flex: 1;
    padding: 2rem;
}


.contact_container .contact_wrap p{
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-transform: none;
    color: #666;
}
.contact_container .contact_wrap p a{
    text-transform: none;
    color: #666;
    cursor: pointer;
}
.contact_container .contact_wrap p a:hover{
    text-decoration: underline;
}
.contact_container .contact_wrap .fa-regular{
    margin-right: .4rem;
    vertical-align: -1px;
}
.contact_container .contact_wrap .fa-phone{
    margin-right: 5px;
    font-size: 1.5rem;
    vertical-align: 2px;
}
.contact_container .contact_wrap .fa-instagram{
    margin-right: 5px;
}



/* .contact_container .contact_wrap .map{
    display: flex;
    flex-wrap: wrap;
}
.contact_container .contact_wrap .map .title{
    flex: 1;
}
.contact_container .contact_wrap .map iframe{
    flex: 1;
    width: 100%;
    object-fit: cover;
} */






.footer{
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: -1;
}
.footer p{
    font-size: 2rem;
    color: rgba(0, 0, 0, .7);
}






















































@media (max-width:1080px){
    .design_photo.active{
        padding: 10% 10%;
    }
    .design_photo .design_photo_row .box{
        height: 120px;
    }


    .about_wrap{
        padding: 10% 12% 7%;
    }
    .about_wrap > span{
        right: 12%;
    }
    .about_wrap .about_text .about_image img{
        height: 300px;
    }
}




@media (max-width:820px){
    .navbar > ul > li > ul{
        width: 100%;
    }

    
    .design_photo.active{
        padding: 15% 5%;
    }
    .design_photo .design_photo_row .box{
        height: 100px;
    }
    .about_wrap .about_text .about_image img{
        height: 250px;
    }
    .design_photo > span{
        font-size: 2.5rem;
        right: 5.5%;
        top: 3.5%;
    }
    .design_full{
        padding-top: 10%;
    }

    .about_wrap{
        padding: 13% 12% 7%;
    }
    .about_wrap .about_text p.introduce{
        line-height: 40px;
        font-size: 25px;
    }
    .about_wrap > span{
        right: 10%;
    }


    .faq_container{
        padding-top: 15%;
    }
    .faq_container .faq_wrap{
        padding: 5% 12%;
    }
    .faq_container .faq_wrap > span{
        right: 10%;
    }
    .faq_container .faq_wrap .faq .question,
    .faq_container .faq_wrap .faq .answer{
        font-size: 2rem;
    }
}



@media (max-width:550px){
    .design_photo.active{
        padding: 20% 5%;
    }
    .design_photo .design_photo_row .box{
        height: 80px;
    }

    .about_wrap{
        padding: 20% 12% 7%;
    }
    .about_wrap .about_text p.introduce{
        line-height: 30px;
        font-size: 20px;
    }
    .about_wrap .about_text .about_image img{
        height: 200px;
    }

    .faq_container .faq_wrap > span{
        right: 7%;
        top: 3%;
    }
}



@media (max-width:462px){

    .navbar > ul > li > ul{
        top: 6.4%;
    }


    .design_photo{
        padding: 10% 10%;
    }
    .design_photo .design_photo_row .box{
        height: 60px;
    }

    .design_full span{
        font-size: 27px;
        top: 2%;
        right: 4%;
    }

    .about_wrap{
        height: 100vh;
        padding: 5rem 2rem;
        top: 50%;
    }
    .about_wrap.active{
        background: #ebebeb;
    }
    .about_wrap .about_text p.introduce{
        line-height: 25px;
        font-size: 17px;
    }
    .about_wrap > span{
        font-size: 2rem;
        right: 5%;
        top: 2%;
    }
    

    .about_wrap .about_text p{
        padding-bottom: 20px;
        line-height: 2rem;
        font-size: 1rem;
    }
    .faq_container .faq_wrap{
        padding: 2rem 4%;
    }
    .faq_container .faq_wrap > span{
        right: 4%;
    }
    .faq_container .faq_wrap .faq .question,
    .faq_container .faq_wrap .faq .answer{
        font-size: 1.7rem;
    }


    .contact_container{
        top: 52%;
    }

    .contact_container .contact_wrap{
        padding: 2rem 5%;
    }
    .contact_container .contact_wrap > div > div{
        flex: none;
    }
}